<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
  <title>demo1</title>
  <style>
    .active-color{
      width: 100px;
      height: 100px;
      background: rgb(0, 0, 255);
    }
    .active-color-red{
      background: red;
    }
    .active-text{
      color:#fff;
      text-align: center;
      line-height: 100px;
    }
    .active-color:hover{
      font-size: 18px;
      color: #999;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <div id="v1">
    <h1>1.开始</h1>
    <h1>site: {{site}}</h1>
    <h1>{{msg}}</h1>
    <h1>url: {{url}}</h1>
    <h1>Alexa: {{alexa}}</h1>
    <h1>{{details()}}</h1>
  </div>
  <hr>
  <div id="v2">
    <h1>2.数据绑定</h1>
    <h2>{{msg2}}</h2>
    <!-- 用户输入数据，实现数据双向绑定 -->
    <input v-model="msg2" />
  </div>
  <hr>
  <div id="v3">
    <h1>3.事件绑定</h1>
    <h2>{{msg3}}</h2>
    <!-- 绑定点击事件 -->
    <button v-on:click="reverseMsg">反转</button>
  </div>
  <hr>
  <div id="v4">
    <h1>4.过滤器</h1>
    <!-- 过滤器测试 -->
    <!-- 带参数过滤器 filterA('arg1', 'arg2') msg4将作为第1个参数,arg1作为第2个参数以此类推 -->
    <h2>{{ msg4 | filterA('hello world') | filterB }}</h2>
    <input type="text" v-model="msg4">
  </div> 
  <hr>
  <div id="v5">
    <h1>5.缩写</h1>
    <!-- v-bind 缩写 -->
    <a :href="url" target="_blank">不懂就点这里</a>
    <!-- v-on 缩写 -->
    <button @click="clickMe">点我试试</button>
  </div>
  <hr>
  <div id="v6">
    <h1>6.if else条件</h1>
    <input type="text" v-model="hello">
    <template v-if="show">
      <div v-if="hello > 10">hello world</div>
      <div v-else-if="hello == 10">hello bike</div>
      <div v-else>no hello</div>
    </template>
  </div>
  <hr>
  <div id="v7">
    <h1>7.循环</h1>
    <ol>
      <li v-for="code in codes">
        编程语言：<a :href="code.url" target="_blank">{{code.code}}</a>，作者：{{code.name}}
      </li>
    </ol>
    <h1>模板循环</h1>
    <ul>
      <template v-for="code in codes">
        <li><a :href="code.url" target="_blank">{{code.code}}</a></li>
      </template>
    </ul>
    <h1>对象迭代</h1>
    <ul>
      <li v-for="value in obj">
        {{value}}
      </li>
    </ul>
    <ol>
      <!-- 第一个参数为值，第二个参数为健值，第三个参数为索引 -->
      <li v-for="(val, key, index) in obj">
        {{index}}-{{key}}: {{val}}
      </li>
    </ol>
    <h1>整数迭代</h1>
    <ul>
      <li v-for="n in count">
        {{n}}
      </li>
    </ul>
  </div>
  <hr>
  <div id="v8">
    <h1>8.计算属性</h1>
    <input type="text" v-model="message">
    <div>message: {{message}}</div>
    <div>reverseMessage: {{reverseMessage}}</div>
    <div>reverseReverseMessage: {{reverseMessage2()}}</div>
    <p>
      <b>computed vs methods</b><br>
      我们可以使用 methods 来替代 computed，效果上两个都是一样的，但是 computed 是基于它的依赖缓存，只有相关依赖发生改变时才会重新取值。而使用 methods ，在重新渲染的时候，函数总会重新调用执行
    </p>
    <h2>computed 属性默认只有 getter ，不过在需要时你也可以提供一个 setter </h2>
    <div>{{prefix}}-{{suffix}}</div>
    <div>{{name}}</div>
  </div>
  <hr>
  <div id="v9">
    <h1>9.监听属性</h1>
    <div>
      通过 watch 来响应数据的变化
      <p>计数：{{counter}}</p>
      <button @click="counter++" style="font-size:25px;">加</button>
      <button @click="counter--" style="font-size:25px;">减</button>
      <p v-if="show">计数器变化：{{oval}}->{{nval}}</p>
    </div>
    <div>
      <h2>距离换算</h2>
      米：<input type="text" v-model="meter">
      千米：<input type="text" v-model="kilometer"><br>
      <p>{{calc}}</p>
    </div>
    <div>
      <h2>简单购物车</h2>
      <table>
        <tr>
          <th>序号</th>
          <th>商品名称</th>
          <th>商品价格（元）</th>
          <th>购买数量</th>
          <th>操作</th>
        </tr>
        <tr v-for="goods in goodsList">
          <td>{{goods.num}}</td>
          <td>{{goods.name}}</td>
          <td>{{goods.price}}</td>
          <td>
            <button :disabled="goods.count === 0" @click="goods.count--">-</button>
            {{goods.count}}
            <button @click="goods.count++">+</button>
          </td>
          <td><button @click="goods.count=0">移除</button></td>
        </tr>
      </table>
      <p>总额：{{totalPrice()}}元</p>
    </div>
  </div>
  <hr>
  <div id="v10">
    <h1>10.样式绑定</h1>
    <div>
      <h2>单属性样式绑定</h2>
      <div :class="{'active-color': activeColor}"></div>
      <h2>多属性样式绑定（根据style样式加载顺序，后加载的样式会覆盖先加载的）</h2>
      <div :class="activeColorObject"></div>
      <h2>绑定返回对象的计算属性</h2>
      <div :class="bindComputedColor">hello world</div>
      <h2>数组绑定多样式</h2>
      <div :class="['active-color', 'active-text']">数组绑定</div>
      <h2>内联样式</h2>
      R(0,255) <input type="number" v-model="red">
      G(0,255) <input type="number" v-model="green">
      B(0,255) <input type="number" v-model="blue"><br>
      width(50,200): <input type="number" v-model="width">
      height(50,200): <input type="number" v-model="height">
      <div :style="customStyle">customStyle</div>
    </div>
  </div>
  <hr>
  <div id="v11">
    <h1>11.事件处理</h1>
    <p>您点击了{{counter}}次</p>
    <button @click="counter++">click me</button>
    <div>
      <h2>绑定方法</h2>
      <p v-if="isTrigger">方法已被调用</p>
      <button @click="triggerClick('hello vue')">触发方法调用</button>
      <!-- 需要在内联语句处理器中访问原始的 DOM 事件。可以用特殊变量 $event 把它传入方法作为参数 -->
      <button @click="triggerClick('hello vue event', $event)">触发方法调用</button>
    </div>
    <div>
      <h2>事件修饰符</h2>
      <!-- 阻止单击事件冒泡 -->
      <button @click.stop="doStop">修饰stop</button>
      <!-- 提交事件不再重载页面 -->
      <form action="http://www.baidu.com" @submit.prevent="onSubmit">
        <button type="submit">提交</button>
      </form>
      <p>注意：使用修饰符应注意顺序，如v-on:click.prevent.self（阻止所有的点击），v-on:click.self.prevent（阻止元素自身的点击）</p>
      <button @click.stop.prevent="doThat">修饰符stop、prevent串联</button>
      <!-- 添加事件监听器使用事件捕获模式 -->
      <div @click.capture="doThis">事件监听器</div>
      <!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
      <div @click.self="doSelf">本身</div>
      <!-- click事件只能点击一次，2.1.4版本新增 -->
      <button @click.once="doOnce">{{clickOnce}}</button>
      <p>2.3.0 Vue 还对应 addEventListener 中的 passive 选项提供了 .passive 修饰符</p>
    </div>
    <div>
      <h2>按键修饰符</h2>
      <!-- vue还可使用按键修饰符 -->
      <a href="https://cn.vuejs.org/v2/guide/events.html#按键修饰符" target="_blank">按键修饰符</a>
      <input type="text" @keyup.enter="submit">
      <input type="text" @keyup.13="submit">
    </div>
  </div>
  <hr>
  <div id="v12">
    <h1>12.表单</h1>
    <h2>输入框</h2>
    <div class="input-box">
      <input type="text" v-model="message">
      <p stylel="white-space: pre">input：{{message}}</p>
      <textarea name="textMessage" id="textMessage" cols="30" rows="10" v-model="textMessage" placeholder="文本区"></textarea>
      <p style="white-space: pre">textarea：{{textMessage}}</p>
    </div>
    <h2>复选框</h2>
    <!-- vue会忽略表单元素的value、checked、selected特性的初始值，应使用data来声明初始值 -->
    <div class="check-box">
      <input id="zhangsan" type="checkbox" value="张三" :checked="checked" v-model="checkNames">
      <label for="zhangsan">张三</label>
      <input id="lisi" type="checkbox" value="李四" v-model="checkNames">
      <label for="lisi">李四</label>
      <input id="wangwu" type="checkbox" value="王五" v-model="checkNames">
      <label for="wangwu">王五</label>
      <p>已选项：{{checkNames}}</p>
    </div>
    <h2>单选框</h2>
    <div class="radio-box">
      <input id="zhangsan2" type="radio" value="张三" :checked="checked" v-model="radioName">
      <label for="zhangsan2">张三</label>
      <input id="lisi2" type="radio" value="李四" v-model="radioName">
      <label for="lisi2">李四</label>
      <input id="wangwu2" type="radio" value="王五" v-model="radioName">
      <label for="wangwu2">王五</label>
      <p>{{radioName}}</p>
    </div>
    <h2>选择框</h2>
    <div class="select-box">
      <select name="selectBox" id="selectBox" v-model="selectValue">
        <option :value="selectItem.id" v-for="selectItem in selectList">
          {{selectItem.name}}
        </option>
      </select>
      <a :href="selectUrl" target="_blank">{{!selectName ? '未选择' : selectName}}</a>
    </div>
    <h2>修饰符</h2>
    <div>
      <p>.lazy将在change事件中同步：{{msg}}</p>
      <input type="text" v-model.lazy="msg">
      <p>.number将输入值转换为Number类型：{{age}}</p>
      <input type="number" v-model.number="age">
      <p>.trim在用户输入值前后去空格：{{trimMsg}}</p>
      <input type="text" v-model.trim="trimMsg">
    </div>
  </div>
  <hr>
  <div id="v13">
    <h1>13.组件</h1>
    <runoob message="hello"></runoob>
    <input type="text" v-model="parentMsg">
    <child-component :message="parentMsg"></child-component>
    <ul>
      <item-component v-for="item in items" :item_data="item"></item-component>
    </ul>
    <input type="text" v-model="verifyNum">
    <input type="text" v-model="verifyStr">
    <verify-component :verify_num="verifyNum" :verify_str="verifyStr"></verify-component>
    <event-component :count="count"></event-component>
  </div>
  <hr>
  <div id="v14">
    <h1>14.自定义指令</h1>
    <div ref="v14Box">
      当元素插入dom时自动获取焦点
      <input v-myfocus  v-model="textMessage">
      <br>
      <div v-mydirective:hello.a.b="message"></div>
    </div>
  </div>
  <!-- built files will be auto injected -->
</body>

<script>
  // Vue 实例被创建时，它向 Vue 的响应式系统中加入了其 data 对象中能找到的所有的属性。当这些属性的值发生改变时，html 视图将也会产生相应的变化
  var data = {
    site: '菜鸟教程',
    url: 'www.runoob.com',
    alexa: '10000',
    msg: 'hello world'
  };
  var v1 = new Vue({
    el: '#v1',
    data: data,
    methods: {
      details: function () {
        return this.site + ' - 学的不仅是技术，更是梦想！';
      }
    }
  });

  document.write(v1.site === data.site);
  document.write("<br>")
  v1.site = 'Runoob'
  document.write(data.site + '<br>');

  data.alexa = 1234
  document.write(v1.alexa) // 1234
  document.write('<br>')

  // Vue 实例还提供了一些有用的实例属性与方法。它们都有前缀 $，以便与用户定义的属性区分开来
  document.write(v1.$data === data)
  document.write('<br>')
  document.write(v1.$el === document.getElementById('vue_det'))

  // 数据双向绑定测试
  var v2 = new Vue({
    el: '#v2',
    data: {
      msg2: '双向绑定'
    }
  });

  var v3 = new Vue({
    el: '#v3',
    data: {
      msg3: '数据反转测试'
    },
    methods: {
      reverseMsg: function () {
        this.msg3 = this.msg3.split('').reverse().join('');
      }
    }
  })

  var v4 = new Vue({
    el: '#v4',
    data: {
      msg4: 'filter demo'
    },
    filters: {
      filterA: function (value) {
        return value.length == 0 ? arguments[1] : (value.charAt(0).toUpperCase() + value.slice(1));
      },
      filterB: function (value) {
        return value.length == 0 ? 'value is null' : (value.substr(0, value.length - 1) + value.charAt(value.length - 1).toUpperCase());
      }
    }
  })

  var v5 = new Vue({
    el: '#v5',
    data: {
      url: 'https://cn.vuejs.org/v2/guide/index.html'
    },
    methods: {
      clickMe: function () {
        alert('点我干嘛，不懂点旁边那个啊！');
      }
    }
  })

  var v6 = new Vue({
    el: '#v6',
    data: {
      show: true,
      hello: 10
    }
  })

  var v7 = new Vue({
    el: '#v7',
    data: {
      codes: [
        { code: 'javascript', name: 'Brendan Eich', url: "https://baike.baidu.com/item/javascript/321142?fr=aladdin" },
        { code: 'vue', name: '尤雨溪', url: 'https://cn.vuejs.org/v2/guide/index.html' },
        { code: 'java', name: 'James Gosling', url: 'https://baike.baidu.com/item/Java/85979?fr=aladdin' }
      ],
      obj: {
        code: 'vue',
        name: '尤雨溪'
      },
      count: 5
    }
  })

  var v8 = new Vue({
    el: '#v8',
    data: {
      message: 'hello world',
      prefix: 'start',
      suffix: 'end'
    },
    computed: {
      // 计算属性的getter
      reverseMessage: function () {
        return this.message.split('').reverse().join('');
      },
      name: {
        get: function () {
          return this.prefix + ':' + this.suffix;
        },
        set: function (m) {
          if (m.split(' ').length > 1) {
            this.prefix = m.split(' ')[0];
            this.suffix = m.split(' ')[1];
          }
        }
      }
    },
    methods: {
      reverseMessage2: function () {
        return this.reverseMessage.split('').reverse().join('');
      }
    }
  })

  var v9 = new Vue({
    el: '#v9',
    data: {
      counter: 5,
      oval: 5,
      nval: 5,
      show: false,
      meter: 0,
      kilometer: 0,
      calc: '',
      goodsList: [
        {
          num: 1,
          name: '华为mate20',
          price: '4999',
          count: 0
        },
        {
          num: 1,
          name: '小米mx2',
          price: '3999',
          count: 0
        },
        {
          num: 1,
          name: 'nubia z11',
          price: '200',
          count: 0
        }
      ]
    },
    methods: {
      totalPrice: function () {
        let total = 0;
        for (let i = 0; i < this.goodsList.length; i++) {
          total += this.goodsList[i].count * this.goodsList[i].price;
        }
        return total;
      }
    },
    watch: {
      meter: function (nval, oval) {
        this.kilometer = nval / 1000;
        this.calc = nval + ' / 1000 = ' + this.kilometer;
      },
      kilometer: function (nval, oval) {
        this.meter = nval * 1000;
        this.calc = nval + ' * 1000 = ' + this.meter;
      }
    }
  })
  // 在counter值改变后调用该方法
  v9.$watch('counter', function (nval, oval) {
    v9.oval = oval;
    v9.nval = nval;
    v9.show = true;
    setTimeout(function () {
      v9.show = false;
    }, 1000)
  })

  var v10 = new Vue({
    el: '#v10',
    data: function(){
      return {
        activeColor: '#0ff',
        activeColorObject: {
          'active-color': true,
          'active-color-red': true
        },
        red: 125,
        green: 125,
        blue: 125,
        height: 100,
        width: 100,
        customStyle: {
          background: 'rgb(125, 125, 125)',
          width: '100px',
          height: '100px',
          lineHeight: '100px',
          textAlign: 'center'
        }
      }
    },
    computed: {
      bindComputedColor: function () {
        return {
          'active-text': true,
          'active-color': true
        }
      }
    },
    watch: {
      red: function (nval, oval) {
        this.red = nval.trim() == '' || parseInt(nval) < 0 ? 0 : (parseInt(nval) > 255 ? 255 : nval);
        this.customStyle.background = 'rgb(' + this.red + ',' + this.green + ',' + this.blue + ')';
      },
      green: function (nval, oval) {
        this.green = nval.trim() == '' || parseInt(nval) < 0 ? 0 : (parseInt(nval) > 255 ? 255 : nval);
        this.customStyle.background = 'rgb(' + this.red + ',' + this.green + ',' + this.blue + ')';
      },
      blue: function (nval, oval) {
        this.blue = nval.trim() == '' || parseInt(nval) < 0 ? 0 : (parseInt(nval) > 255 ? 255 : nval);
        this.customStyle.background = 'rgb(' + this.red + ',' + this.green + ',' + this.blue + ')';
      },
      width: function (nval, oval) {
        this.width = nval.trim() == '' || parseInt(nval) < 10 ? 10 : (parseInt(nval) > 300 ? 300 : nval);
        this.customStyle.width = this.width + 'px';
      },
      height: function (nval, oval) {
        this.height = nval.trim() == '' || parseInt(nval) < 10 ? 10 : (parseInt(nval) > 300 ? 300 : nval);
        this.customStyle.height = this.height + 'px';
        this.customStyle.lineHeight = this.height + 'px';
      }
    }
  })

  var v11 = new Vue({
    el: '#v11',
    data: {
      counter: 0,
      isTrigger: false,
      clickOnce: '我只能点击一次'
    },
    methods: {
      triggerClick: function(arg1, event){
        this.isTrigger = true;
        if(event){
          // DOM原生事件，若使用javascript内联语句，将不调用DOM原生事件
          alert(event.target.tagName);
        } else{
          alert(arg1);
        }
      },
      doOnce: function(){
        this.clickOnce = '我已经被点击过了';
      },
      doSelf: function(){
        console.log('self');
      },
      doStop: function(){
        console.log('stop');
      },
      doThat: function(){
        console.log('that');
      },
      doThis: function(){
        console.log('this');
      },
      onSubmit: function(){
        console.log('表单提交');
      },
      submit: function(value){
        console.log(value);
        alert('You press the Enter!');
      }
    }
  })

  var v12 = new Vue({
    el: '#v12',
    data: {
      message: 'hello vue input',
      textMessage: 'hello vue textarea',
      checkNames:  ['李四'],
      checked: true,
      radioName: '张三',
      selectValue: '1',
      selectUrl: 'javascript:(0);',
      selectName: '',
      selectList: [
        {
          id: 1,
          url: 'javascript:(0);',
          name: '选择一个网址'
        },
        {
          id: 2,
          url: 'https://cn.vuejs.org/',
          name: 'Vue'
        },
        {
          id: 3,
          url: 'http://www.baidu.com',
          name: '百度'
        }
      ],
      msg: 'hello world',
      age: 18,
      trimMsg: '   hello world     '
    },
    watch: {
      selectValue: function(newVal, oldVal){
        for(let i = 0; i < this.selectList.length; i++){
          if(newVal === 1){
            this.selectUrl = this.selectList[0].url;
            this.selectName = '未选择';
            break;
          }
          if(newVal === this.selectList[i].id){
            this.selectUrl = this.selectList[i].url;
            this.selectName = this.selectList[i].name;
            break;
          }
        }
      }
    }
  })

  // 自定义全局组件（组件名不允许大写）
  // 父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop"
  Vue.component('runoob', {
    // 声明props
    props: ['message'],
    template: '<h2>{{message}} 这是全局组件</h2>'
  })
  // 自定义局部组件
  var Child = {
    props: ['message'],
    template: '<span>这是局部组件 {{message}}</span>'
  }
  var v13 = new Vue({
    el: '#v13',
    data: {
      parentMsg: '父级组件内容',
      items: [
        {id:1, msg: '1111'},
        {id:2, msg: '2222'},
        {id:3, msg: '3333'}
      ],
      verifyNum: 1,
      verifyStr: 'hello 2 world',
      count: 0
    },
    components: {
      'child-component': Child,
      'item-component': {
        props: ['item_data'],
        template: '<li>{{item_data.id}}-{{ item_data.msg }}</li>'
      },
      'verify-component': {
        props: {
          // 验证数字
          'verify_num': {
            type: Number,
            required: true,
            default: 10
          },
          // 验证字符串与数字
          'verify_str': [Number, String]
        },
        template: '<div>' +
          '<p>num:{{verify_num}}</p>' +
          '<p>num:{{verify_str}}</p>' +
        '</div>',
      },
      'event-component': {
        props: {
          count: {
            type: Number,
            default: 0
          }
        },
        template: `<div>
          <h3>{{count}}</h3>
          <h4 style="color:red">{{count <= 0 ? '不能小于0' : count >= 10 ? '不能超过10' : ''}}</h4>
          <button @click="count++" :disabled="count >= 10">+</button>
          <button @click="count--" :disabled="count == 0">-</button>
        </div>`
      }
    }
  })

  // 定义全局指令
  Vue.directive('myfocus', {
    // 当绑定元素插入到 DOM 中。
    inserted: function (el) {
      // 聚焦元素
      el.focus();
      el.value = 'hello';
    }
  })
  var v14 = new Vue({
    el: '#v14',
    data: {
      textMessage: 'hellobike',
      message: {
        text: 'hello world',
        bgColor: 'red',
        color: '#fff',
      }
    },
    directives: {
      // 定义局部指令
      mydirective: {
        bind: function (el, binding, vnode) {
          var s = JSON.stringify
          el.innerHTML =
            'name: '       + s(binding.name) + '<br>' +
            'value: '      + s(binding.value) + '<br>' +
            'expression: ' + s(binding.expression) + '<br>' +
            'argument: '   + s(binding.arg) + '<br>' +
            'modifiers: '  + s(binding.modifiers) + '<br>' +
            'vnode keys: ' + Object.keys(vnode).join(', ')

          el.style.backgroundColor = binding.value.bgColor;
          el.style.color = binding.value.color;
        }
      }
    }
  })
</script>

</html>